APP_PORT=3000
OPENAI_API_KEY="your_openai_api_key"
CLAUDE_API_KEY="your_claude_api_key"

DATABASE_URL="sqlite:///./whattodo.db"
SECRET_KEY="FdcllOVDapNjLEn1BuCwR03neIZiNYG29XsiSw5rJXk="
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=10080